@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nunito:wght@300&family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", cursive;
  color: #333333;
  background-color: #fafafa;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3rem;
  margin: 20px;
  height: 10%;
  background-color: #fafafa;
  font-size: 2rem;
}
.navigation__button {
  padding: 1.5rem;
  color: #272644;
}
.navigation__name {
  color: #272644;
}
.navigation__buttons {
  display: inline-block;
}

@media screen and (max-width: 1028px) {
  .navigation__buttons {
    font-size: 1rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  .navigation__name {
    font-size: 1rem;
  }
}
@media screen and (max-width: 675px) {
  .button {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 650px) {
  .navigation__buttons {
    display: flex;
    flex-direction: column;
  }
}
.tech-skills {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.tech-skills__tech-text {
  padding: 0px 400px;
  color: #8C9CB1;
  font-size: 1rem;
}
.tech-skills__title {
  padding: 0 0.2em;
  box-shadow: inset 0 -0.6em #ddf5f3;
  color: #272644;
  font-size: 1.5rem;
}
.tech-skills__icons {
  display: flex;
  column-gap: 10%;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}
.tech-skills__skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-skills__text {
  color: #8C9CB1;
}

@media screen and (max-width: 1200px) {
  .tech-skills__tech-text {
    padding: 0px 325px;
  }
}
@media screen and (max-width: 1000px) {
  .tech-skills__tech-text {
    padding: 0px 250px;
  }
}
@media screen and (max-width: 800px) {
  .tech-skills__tech-text {
    padding: 0px 200px;
  }
}
@media screen and (max-width: 680px) {
  .tech-skills__tech-text {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 360px) {
  .tech-skills__tech-text {
    padding: 0px 20px;
  }
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  justify-items: center;
}
.projects__project-box {
  width: 400px;
  height: 300px;
  background-color: #ddf5f3;
}
.projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__proj-tool {
  font-size: 15px;
  font-weight: 900;
  color: #BAE8EA;
  padding-top: 10px;
}
.projects__proj-text {
  text-align: center;
  padding-top: 10px;
  color: #8C9CB1;
}
.projects__proj-sect-title {
  color: #272644;
  font-size: 30px;
  font-weight: 900;
  padding-top: 10px;
}
.projects__cod-prev-icons {
  padding-top: 10px;
}
.projects__title {
  color: #272644;
  box-shadow: inset 0 -0.6em #ddf5f3;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  margin: 200px 0px 100px 0px;
  color: #272644;
}
.projects__title-case {
  text-align: center;
}

@media screen and (max-width: 1372px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 964px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  .projects__project-box {
    width: 100%;
  }
}
.about-me {
  height: 65vh;
  padding: 50px 100px;
  width: 100%;
  background-color: #ddf5f3;
  display: flex;
  justify-content: space-between;
}
.about-me__content {
  display: flex;
  flex-direction: column;
  background-color: #ddf5f3;
  padding: 50px;
  justify-content: center;
  width: 75%;
}
.about-me__title {
  color: #272644;
  background-color: #ddf5f3;
  font-size: 30px;
  font-weight: 900;
}
.about-me__p {
  background-color: #ddf5f3;
  color: #8C9CB1;
  font-size: 1rem;
}
.about-me__cartoon {
  background-color: #ddf5f3;
  display: flex;
  align-items: center;
}
.about-me__cartoon-img {
  height: 40vh;
  background-color: #ddf5f3;
}

@media screen and (max-width: 980px) {
  .about-me {
    padding: 0px;
  }
}
@media screen and (max-width: 790px) {
  .about-me {
    padding: 0px;
  }
  .about-me__p {
    font-size: 0.75rem;
  }
  .about-me__cartoon-img {
    height: 20vh;
  }
}
@media screen and (max-width: 650px) {
  .about-me {
    padding: 0px;
  }
  .about-me__p {
    font-size: 0.5rem;
  }
  .about-me__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .about-me__content {
    padding: 0px;
  }
}
@media screen and (max-width: 350px) {
  .about-me__cartoon-img {
    height: 15vh;
  }
}
.footer {
  min-height: 100px;
  width: 100%;
  max-width: 100%;
  background-color: #272644;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer__content {
  background-color: #272644;
  color: #fafafa;
}
.footer__content-icon {
  background-color: #272644;
  color: #fafafa;
}
.footer__icons {
  background-color: #272644;
}
.footer__link {
  background-color: #272644;
}

@media screen and (max-width: 675px) {
  .footer__content-icon {
    width: 30px;
    height: auto;
  }
}
/* .tech-header {
    font-size: 4rem;
    font-weight: 700;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 25px;
        background-color: #BAE8EA;
        left: 0;
        right: 0;
        bottom: 25px;
    }
} */
.button {
  border: 2px solid #272644;
  background-color: #BAE8EA;
  border-radius: 5px;
  min-width: 100px;
  color: #272644;
}

a:link,
a:visited {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", cursive;
  color: #333333;
  background-color: #fafafa;
}

html {
  scroll-behavior: smooth;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3rem;
  margin: 20px;
  height: 10%;
  background-color: #fafafa;
  font-size: 2rem;
}

.navigation__button {
  padding: 1.5rem;
  color: #272644;
}

.navigation__name {
  color: #272644;
}

.navigation__buttons {
  display: inline-block;
}

.header {
  margin: 100px 100px 100px 250px;
  height: 70vh;
  display: grid;
  grid-template-columns: 2fr auto;
}
.header__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__main-heading {
  display: flex;
  flex-direction: column;
}
.header__main-heading--name {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.header__work-button {
  text-align: center;
  max-width: 200px;
  min-width: 175px;
  height: 2rem;
  padding-top: 0.25rem;
}
.header__mypic {
  height: 80%;
  width: auto;
  margin-block: auto;
  border-radius: 10px;
}
.header__subheading {
  color: #272644;
}
.header__myphoto {
  margin-right: 400px;
  position: relative;
}
.header__myphoto .img-circle {
  position: absolute;
  top: 50px;
  left: -50px;
}
.header__myphoto .img-squig {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.about-me {
  height: 65vh;
  padding: 50px 100px;
  width: 100%;
  background-color: #ddf5f3;
  display: flex;
  justify-content: space-between;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  background-color: #ddf5f3;
  padding: 50px;
  justify-content: center;
  width: 75%;
}

.about-me__title {
  color: #272644;
  background-color: #ddf5f3;
  font-size: 30px;
  font-weight: 900;
}

.about-me__p {
  background-color: #ddf5f3;
  color: #8C9CB1;
  font-size: 1rem;
}

.about-me__cartoon {
  background-color: #ddf5f3;
  display: flex;
  align-items: center;
}

.about-me__cartoon-img {
  height: 40vh;
  background-color: #ddf5f3;
}

@media screen and (max-width: 1028px) {
  .header__content {
    max-width: 65%;
  }
  .header__mypic {
    max-width: 200px;
    height: auto;
  }
}
@media screen and (max-width: 630px) {
  .header {
    margin: 200px 50px 50px 50px;
  }
}
@media screen and (max-width: 980px) {
  .about-me {
    padding: 0px;
  }
}
@media screen and (max-width: 790px) {
  .about-me {
    padding: 0px;
  }

  .about-me__p {
    font-size: 0.75rem;
  }

  .about-me__cartoon-img {
    height: 20vh;
  }
}
@media screen and (max-width: 650px) {
  .about-me {
    padding: 0px;
  }

  .about-me__p {
    font-size: 0.5rem;
  }

  .about-me__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .about-me__content {
    padding: 0px;
  }
}
@media screen and (max-width: 350px) {
  .about-me__cartoon-img {
    height: 15vh;
  }
}
@media screen and (max-width: 1028px) {
  .header__img-squig {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 690px) {
  .header__work-button {
    height: auto;
  }
}
@media screen and (max-width: 1028px) {
  .navigation__buttons {
    font-size: 1rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  .navigation__name {
    font-size: 1rem;
  }
}
@media screen and (max-width: 675px) {
  .button {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 650px) {
  .navigation__buttons {
    display: flex;
    flex-direction: column;
  }
}
.tech-skills {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tech-skills__tech-text {
  padding: 0px 400px;
  color: #8C9CB1;
  font-size: 1rem;
}

.tech-skills__title {
  padding: 0 0.2em;
  box-shadow: inset 0 -0.6em #ddf5f3;
  color: #272644;
  font-size: 1.5rem;
}

.tech-skills__icons {
  display: flex;
  column-gap: 10%;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

.tech-skills__skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-skills__text {
  color: #8C9CB1;
}

@media screen and (max-width: 1200px) {
  .tech-skills__tech-text {
    padding: 0px 325px;
  }
}
@media screen and (max-width: 1000px) {
  .tech-skills__tech-text {
    padding: 0px 250px;
  }
}
@media screen and (max-width: 800px) {
  .tech-skills__tech-text {
    padding: 0px 200px;
  }
}
@media screen and (max-width: 680px) {
  .tech-skills__tech-text {
    padding: 0px 100px;
  }
}
@media screen and (max-width: 360px) {
  .tech-skills__tech-text {
    padding: 0px 20px;
  }
}
.text {
  color: #8C9CB1;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  justify-items: center;
}

.projects__project-box {
  width: 400px;
  height: 300px;
  background-color: #ddf5f3;
}

.projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__proj-tool {
  font-size: 15px;
  font-weight: 900;
  color: #BAE8EA;
  padding-top: 10px;
}

.projects__proj-text {
  text-align: center;
  padding-top: 10px;
  color: #8C9CB1;
}

.projects__proj-sect-title {
  color: #272644;
  font-size: 30px;
  font-weight: 900;
  padding-top: 10px;
}

.projects__cod-prev-icons {
  padding-top: 10px;
}

.projects__title {
  color: #272644;
  box-shadow: inset 0 -0.6em #ddf5f3;
  font-size: 1.5rem;
  display: inline-block;
  text-align: center;
  margin: 200px 0px 100px 0px;
  color: #272644;
}

.projects__title-case {
  text-align: center;
}

@media screen and (max-width: 1372px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 964px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 550px) {
  .projects__project-box {
    width: 100%;
  }
}
.fa-brands {
  color: #BAE8EA;
}

.underline {
  padding: 0 0.2em;
  box-shadow: inset 0 -0.6em #ddf5f3;
  color: #272644;
}

.cartoon-img {
  height: 300px;
  width: 300px;
  background-color: #ddf5f3;
}

.section-2 {
  padding: 0px 100px;
}

.footer {
  min-height: 100px;
  width: 100%;
  max-width: 100%;
  background-color: #272644;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.footer__content {
  background-color: #272644;
  color: #fafafa;
}

.footer__content-icon {
  background-color: #272644;
  color: #fafafa;
}

.footer__icons {
  background-color: #272644;
}

.footer__link {
  background-color: #272644;
}

@media screen and (max-width: 675px) {
  .footer__content-icon {
    width: 30px;
    height: auto;
  }
}
.button {
  border: 2px solid #272644;
  background-color: #BAE8EA;
  border-radius: 5px;
  min-width: 100px;
  color: #272644;
}

a:link,
a:visited {
  text-decoration: none;
}