.navigation {
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
  margin: 20px;
  height: 10vh;
  background-color: #fafafa;
  font-size: 2rem;
}
.navigation__button {
  padding: 1.5rem;
  color: #272644;
}
.navigation__name {
  color: #272644;
}
.navigation__buttons {
  display: inline-block;
}

@media screen and (max-width: 850px) {
  .navigation__buttons {
    font-size: 20px;
  }
}
@media screen and (max-width: 765px) {
  .navigation__buttons {
    font-size: 15px;
  }
}
@media screen and (max-width: 672px) {
  .navigation__buttons {
    font-size: 10px;
  }
}
@media screen and (max-width: 591px) {
  .navigation__buttons {
    font-size: 6px;
  }
}
.tech-skills {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-between;
  align-items: center;
}
.tech-skills__tech-text {
  padding: 0px 400px;
  color: #8C9CB1;
}
.tech-skills__subtitle {
  padding: 0 0.2em;
  box-shadow: inset 0 -0.6em #ddf5f3;
  color: #272644;
}
.tech-skills__icons {
  display: flex;
  column-gap: 100px;
  justify-content: space-evenly;
  padding: 0px 100px;
}
.tech-skills__skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-skills__text {
  color: #8C9CB1;
}

.projects-h2 {
  display: flex;
  justify-content: center;
  margin: 200px 0px 100px 0px;
  color: #272644;
  font-size: 25px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  justify-items: center;
}
.projects__project-box {
  width: 400px;
  height: 300px;
  background-color: #ddf5f3;
}
.projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__proj-tool {
  font-size: 15px;
  font-weight: 900;
  color: #BAE8EA;
  padding-top: 10px;
}
.projects__proj-text {
  text-align: center;
  padding-top: 10px;
  color: #8C9CB1;
}
.projects__proj-sect-title {
  color: #272644;
  font-size: 30px;
  font-weight: 900;
  padding-top: 10px;
}
.projects__cod-prev-icons {
  padding-top: 10px;
}
.projects__subtitle {
  color: #272644;
  box-shadow: inset 0 -0.6em #ddf5f3;
}

@media screen and (max-width: 1372px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
.about-me {
  height: 65vh;
  padding: 50px 100px;
  background-color: #ddf5f3;
  display: flex;
  justify-content: space-between;
}
.about-me__content {
  display: flex;
  flex-direction: column;
  background-color: #ddf5f3;
  padding: 50px;
  justify-content: center;
}
.about-me__title {
  color: #272644;
  background-color: #ddf5f3;
  font-size: 30px;
  font-weight: 900;
}
.about-me__p {
  background-color: #ddf5f3;
  width: 800px;
  color: #8C9CB1;
}
.about-me__cartoon {
  background-color: #ddf5f3;
  display: flex;
  align-items: center;
}
.about-me__cartoon-img {
  height: 40vh;
  width: 500px;
  background-color: #ddf5f3;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #272644;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer__content {
  background-color: #272644;
  color: #fafafa;
}
.footer__icons {
  background-color: #272644;
}
.footer__link {
  background-color: #272644;
}